* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    overflow-y: hidden;
}

header {
    align-items: center;
    background-color: #041b2f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: center;
    letter-spacing: 1px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 5;
}

p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
}

#logo {
    color: white;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    left: 50px;
    position: absolute;
    width: 100px;
}

#time, #clock {
    align-items: center;
    background-color: #eaeaea;
    border-bottom: 1px solid #041b2f;
    color: #041b2f;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 120px;
    border-left: 1px solid #041b2f;
}

#time {
    right: 0;
}

#clock {
    right: 120px;
}

/*** Ticker ***/
@keyframes ticker {
0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }

100% {
    transform: translate3d(-100%, 0, 0);
    }
}
  
.ticker-wrap {
    background-color: white;
    border-bottom: 1px solid #176140;
    box-sizing: content-box;
    height: 50px;
    overflow: hidden;
    padding-left: 100%;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 5;
}

.tickerWrapper {
    align-items: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
    box-sizing: content-box;
    display: flex;
    height: 50px; 
    padding-right: 100%;
    white-space: nowrap; 
    width: 100%;
}

.ticker-item {
    color: white; 
    display: inline-block;
    margin: 10px;
}

/*** Navigation ***/
ul {
    background-color: #f1f1f1;
    height: 100%;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 101px;
    width: 200px;
  }
  
  li a {
    color: #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #176140;
    pointer-events: none;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #05283a;
    color: white;
  }

/*** Content ***/
.logoImg {
    border-radius: 50%;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 120px;
    transform: translate(-50%, 0);
    width: 300px;
}

/*** Paragraph home ***/
.paragraphHome {
    background-color: white;
    border-radius: 20px;
    color: #041b2f;
    left: 50%;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*** Table ***/
#table {
    background-color: white;
    border-collapse: collapse;
    left: 50%;
    position: absolute;
    top: 170px;
    transform: translate(-50%, 0);
}

#header {
    background-color: #176140;
    display: flex;
    justify-content: space-between;
}

.headerTitle {
    color: white;
    position: relative;
    text-align: left;
    width: 200px;
}

#contentTable {
    height: 70vh;
    overflow-y: scroll;
}

.sort {
    background-image: url('../img/icon/arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 25px;
    left: -15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 25px;
}

img {
    display: block;
    height: 24px;
    margin: 0 auto;
    width: 24px;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.neutral {
    color: gray;
}

.items {
    align-items: center;
    display: flex;
    padding: 5px 0;
}

.items:nth-child(even) {
    background-color: #f9f9f9;
}

.cell {
    display: flex;
    padding: 0 5px;
    width: 200px;
}

.ticker {
    padding-left: 30px;
}

/*
th {
    border-bottom: 2px solid gray;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    padding: 10px;
    padding-left: 30px;
    position: relative;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    border-bottom: 1px solid gray;
    padding: 10px 20px;
    text-align: left;
}


a {
    color: #183c85;
    text-decoration: none;
}

a:hover {
    color: gray;
} */

/*** Converter ***/
.form {
    align-items: center;
    background-color: #183c85;
    color: white;
    display: flex;
    left: 50%;
    justify-content: flex-start;
    padding: 10px;
    position: fixed;
    top: 110px;
    transform: translate(-50%, 0);
    width: 615px;
}

label {
    margin-right: 5px;
}

input {
    background-color: white;
    border: none;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

select {
    background-color: white;
    border: none;
    height: 25px;
    margin-right: 5px;
    width: 80px;
}

option {
    background-color: #183c85;
    color: white;
    cursor: pointer;
}

button {
    background-color: #fbb713;
    border: none;
    color: #041b2f;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px;
}

#resultConvert {
    font-size: 18px;
    margin-left: 5px;
    padding: 0;
}

/*** Flag ***/
.country {
    position: relative;
}

.flagInfo {
    background-color: #183c85;
    color:white;
    font-size: 14px;
    left: 90%;
    position: absolute;
    text-align: center;
    top: 30px;
    transform: translate(-50%, -50%);
    width: 130px;
    z-index: 5;
}

.center {
    text-align: center;
}